/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * noirkvi implementation : © CH Huang <chhuang76@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * noirkvi.css
 *
 * noirkvi stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (noirkvi_noirkvi.tpl), and to HTML elements you create dynamically
    (in noirkvi.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

h5{
    margin: 10px 0;
}

#myRole{
    text-align: center;
    font-weight: bold;
}

#gameboardContainer{
    position: relative;
    min-width: 456px;
    max-width: 840px;
    min-height: 600px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    top: -10px;
}

#gameboard{
    position: relative;
    width: 456px;
    height: 600px;
    display: inline;
    float: left;
    margin-right: 15px;
}

#numCharactersDeceased{
    height: 19px;
    position: relative;
    top: 579px;
    text-align: center;   
}

.shiftArrow, .suspectCard{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center; 
    position: absolute;
    width: 48px;
    height: 48px;
}

.shiftArrow{
    cursor: pointer;
}

.suspectCard{
    width: 72px;
    height: 96px;
    background-size: 72px 96px;
}

.shiftArrow_Left{
    background-image: url('img/arrow_left.png');
}

.shiftArrow_Right{
    background-image: url('img/arrow_right.png');
}

.shiftArrow_Up{
    background-image: url('img/arrow_up.png');
}

.shiftArrow_Down{
    background-image: url('img/arrow_down.png');
}

.suspectCard {
    background-image: url('img/a.jpg');
}

.idHighLight {
    width: 100%;
    height: 100%;
    opacity:0.25;
    display: inline-block;
    position: absolute;
    left: 0px; 
    top: 0px;
}

.idHighLight_Killer {
    background-color:rgb(255,100,100);    
}

.idHighLight_Inspector {
    background-color:rgb(100,255,100);
}

.eviHighLight {
    width: 100%;
    height: 100%;
    opacity:0.75;
    display: none;
    position: absolute;
    left: 0px; 
    top: 0px;
    background-color:rgb(220,220,200);
}

.innocentHighLight {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px; 
    top: 0px;
    background-image: url('img/innocent.png');
    background-size: 100% 100%;
}

.killedHighLight {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px; 
    top: 0px;
    background-image: url('img/killed.png');
    background-size: 100% 100%;
}

.arrestHighLight, .alertHighLight, .questionHighLight {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px; 
    top: 0px;
    background-size: 100% 100%;
}

.arrestHighLight {
    background-image: url('img/investigate.png');
}

.alertHighLight {
    background-image: url('img/alert.png');
}

.questionHighLight {
    background-image: url('img/question.png');
}

#deckAndIdContainer {
    position: relative;
    margin-top: 40px;
    margin-left: 5px;
    height: 100%;
    display: inline-block;
    float: left;
    width: 360px;
}

#eviDeckContainer {
    width: 157px;
    height: 225px;
    text-align: center;
    display: inline-block;
}

#eviDeckBg {
    width: 120px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('img/cardBack.jpg');
}

#eviDeck {
    width: 72px;
    height: 46px;
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    background-color:rgba( 0 ,0, 0, 0.7);
    position: relative;
    top: 67px;
    left: 24px;
}

#myIdContainer {
    /*width: 130px;*/
    width: 157px;
    height: 225px;
    text-align: center;
    display: inline-block;

    position: absolute;
    margin-left: 6px;
}

#inspectorsHand {
    text-align: center;
}

.pickID, .eviCard {
    display: inline-block;
}

.pickID {
    width: 72px;
    height: 96px;
    background-size: 72px 96px;
    margin: 4px;
    cursor: pointer;
}

.eviCard {
    width: 90px;
    height: 120px;
    background-size: 90px 120px;
    margin-right: auto;
    margin-left: auto;
}

.eviCard_a{
    background-image: url('img/a.png');
}

.eviCard_b{
    background-image: url('img/b.png');   
}

.eviCard_c{
    background-image: url('img/c.png');   
}

.eviCard_d{
    background-image: url('img/d.png');   
}

.eviCard_e{
    background-image: url('img/e.png');   
}

.eviCard_f{
    background-image: url('img/f.png');   
}

.eviCard_g{
    background-image: url('img/g.png');   
}

.eviCard_h{
    background-image: url('img/h.png');   
}

.eviCard_i{
    background-image: url('img/i.png');   
}

.eviCard_j{
    background-image: url('img/j.png');   
}

.eviCard_k{
    background-image: url('img/k.png');   
}

.eviCard_l{
    background-image: url('img/l.png');   
}

.eviCard_m{
    background-image: url('img/m.png');   
}

.eviCard_n{
    background-image: url('img/n.png');   
}

.eviCard_o{
    background-image: url('img/o.png');   
}

.eviCard_p{
    background-image: url('img/p.png');   
}

.eviCard_q{
    background-image: url('img/q.png');   
}

.eviCard_r{
    background-image: url('img/r.png');   
}

.eviCard_s{
    background-image: url('img/s.png');   
}

.eviCard_t{
    background-image: url('img/t.png');   
}

.eviCard_u{
    background-image: url('img/u.png');   
}

.eviCard_v{
    background-image: url('img/v.png');   
}

.eviCard_w{
    background-image: url('img/w.png');   
}

.eviCard_x{
    background-image: url('img/x.png');   
}

.eviCard_y{
    background-image: url('img/y.png');   
}